/* Tabler Override */
:root{
    --openhas-blue: #206bc4;
    --openhas-azure: #4299e1;
    --openhas-indigo: #4263eb;
    --openhas-purple: #ae3ec9;
    --openhas-pink: #d6336c;
    --openhas-red: #d63939;
    --openhas-orange: #f76707;
    --openhas-yellow: #f59f00;
    --openhas-lime: #74b816;
    --openhas-green: #24c178;
    --openhas-teal: #0ca678;
    --openhas-cyan: #17a2b8;
    --openhas-primary: #24c178;
    --openhas-primary-darker: #1d9a60;
    --openhas-secondary: #206bc4;
    --openhas-success: #2fb344;
    --openhas-info: #4299e1;
    --openhas-warning: #f76707;
    --openhas-danger: #d63939;
    --openhas-light: #f4f6fa;
    --openhas-dark: #232e3c;
    --openhas-font-sans-serif: "Inter", -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    --openhas-font-monospace: null, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    --openhas-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --tblr-primary: #24c178;
    --tblr-secondary: #206bc4;
    --tblr-green: #24c178;
}
a {
    color: var(--openhas-primary);
}
a:hover {
    color: var(--openhas-primary-darker);
}
code {
    color: var(--openhas-primary);
}
.form-check-input:checked {
    background-color: var(--openhas-primary);
}
.form-check-input[type=checkbox]:indeterminate {
    background-color: var(--openhas-primary);
    border-color: var(--openhas-primary)
}
.form-range::-webkit-slider-thumb {
    background-color: var(--openhas-primary);
}
.form-range::-moz-range-thumb {
    background-color: var(--openhas-primary);
}
.btn-link {
    color: var(--openhas-primary);
}
.dropdown-item.active,
.dropdown-item:active {
    color: var(--openhas-primary);
}
.dropdown-menu-dark .dropdown-item.active,
.dropdown-menu-dark .dropdown-item:active {
    color: var(--openhas-primary);
}
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: var(--openhas-primary)
}
.page-item.active .page-link {
    background-color: var(--openhas-primary);
    border-color: var(--openhas-primary)
}
.progress-bar {
    background-color: var(--openhas-primary)
}
.list-group-item.active {
    background-color: var(--openhas-primary);
    border-color: var(--openhas-primary)
}
.link-primary {
    color: var(--openhas-primary)
}
.border-primary {
    color: var(--openhas-primary)
}
.text-primary {
    color: var(--openhas-primary)
}
.bg-primary {
    background-color: var(--openhas-primary)
}
@media (min-width:576px) {
    .navbar-expand-sm .navbar-light .nav-item.active:after,
    .navbar-expand-sm.navbar-light .nav-item.active:after {
        border-color: var(--openhas-primary)
    }
}
@media (min-width:768px) {
    .navbar-expand-md .navbar-light .nav-item.active:after,
    .navbar-expand-md.navbar-light .nav-item.active:after {
        border-color: var(--openhas-primary)
    }
}
@media (min-width:992px) {
    .navbar-expand-lg .navbar-light .nav-item.active:after,
    .navbar-expand-lg.navbar-light .nav-item.active:after {
        border-color: var(--openhas-primary)
    }
}
@media (min-width:1200px) {
    .navbar-expand-xl .navbar-light .nav-item.active:after,
    .navbar-expand-xl.navbar-light .nav-item.active:after {
        border-color: var(--openhas-primary)
    }
}
@media (min-width:1400px) {
    .navbar-expand-xxl .navbar-light .nav-item.active:after,
    .navbar-expand-xxl.navbar-light .nav-item.active:after {
        border-color: var(--openhas-primary)
    }
}
.navbar-expand .navbar-light .nav-item.active:after,
.navbar-expand.navbar-light .nav-item.active:after {
    border-color: var(--openhas-primary)
}
.alert-primary {
    --tblr-alert-color: var(--openhas-primary)
}
.avatar-upload:hover {
    border-color: var(--openhas-primary);
    color: var(--openhas-primary)
}
.btn-link {
    color: var(--openhas-primary)
}
.calendar-date .date-item:hover {
    color: var(--openhas-primary)
}
.calendar-date .date-today {
    color: var(--openhas-primary)
}
.calendar-range.range-end .date-item,
.calendar-range.range-start .date-item {
    background: var(--openhas-primary);
    border-color: var(--openhas-primary)
}
.card-active:before {
    border-color: var(--openhas-primary)
}
.form-help:hover,
.form-help[aria-describedby] {
    background: var(--openhas-primary)
}
.form-colorinput-input:focus~.form-colorinput-color {
    border-color: var(--openhas-primary);
}
.form-imagecheck-input:focus~.form-imagecheck-figure {
    border-color: var(--openhas-primary);
}
.form-imagecheck-input:checked~.form-imagecheck-figure:before {
    background-color: var(--openhas-primary)
}
.form-selectgroup-input:checked+.form-selectgroup-label .form-selectgroup-check {
    background-color: var(--openhas-primary)
}
.form-selectgroup-input:checked+.form-selectgroup-label {
    color: var(--openhas-primary)
}
.form-selectgroup-input:focus+.form-selectgroup-label {
    color: var(--openhas-primary)
}
.form-selectgroup-boxes .form-selectgroup-input:checked+.form-selectgroup-label .form-selectgroup-title {
    color: var(--openhas-primary)
}
.loader {
    color: var(--openhas-primary)
}
.nav-bordered .nav-item.show .nav-link,
.nav-bordered .nav-link.active {
    color: var(--openhas-primary);
    border-color: var(--openhas-primary)
}
.page-link:hover .page-item-title {
    color: var(--openhas-primary)
}
.progress::-webkit-progress-value {
    background-color: var(--openhas-primary)
}
.progress::-moz-progress-bar {
    background-color: var(--openhas-primary)
}
.progress::-ms-fill {
    background-color: var(--openhas-primary)
}
.ribbon {
    background: var(--openhas-primary);
    border-color: var(--openhas-primary)
}
.steps .step-item:after,
.steps .step-item:before {
    background: var(--openhas-primary)
}
.steps .step-item.active:before {
    border-color: var(--openhas-primary)
}
.theme-dark .list-group-item {
    color: var(--openhas-light)
}
.theme-dark .alert {
    background-color: var(--openhas-dark)
}
.theme-dark .btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/.75rem auto no-repeat;
    opacity: .75
}
.theme-dark .btn-close:hover {
    opacity: .3
}
.alert-success {
    --tblr-alert-color: var(--openhas-success)
}

/* End of Tabler Override */

.btn-ghost-primary, .btn-outline-primary, .btn-primary {
    --tblr-btn-color: 36,193,120;
    --tblr-btn-color-darker: 29,154,96;
}

.sw label.error {
    color: var(--openhas-danger);
}
.sw input.error {
    border-color: var(--openhas-danger);
}
.sw .toolbar>.btn.disabled, .sw .toolbar>.btn:disabled {
    display: none;
}
.sw .toolbar>.btn.disabled + button, .sw .toolbar>.btn:disabled + button {
    margin-left: 0;
    margin-right: 0;
}
.sw .toolbar.toolbar-bottom {
    padding: 1rem .5rem;
}
.sw .toolbar .btn.sw-btn-prev {
    margin-left: 0;
}
.sw-theme-arrows>.nav .nav-link.done {
    background: var(--openhas-primary)!important;
    border-color: var(--openhas-primary)!important;
}
.sw-theme-arrows>.nav .nav-link.done::after {
    border-left-color: var(--openhas-primary)!important;
}
.sw-theme-arrows>.nav .nav-link.active {
    background: var(--openhas-info)!important;
    border-color: var(--openhas-info)!important;
}
.sw-theme-arrows>.nav .nav-link.active::after {
    border-left-color: var(--openhas-info)!important;
}
.sw ul.nav li:last-child {
    background-color: #f8f8f8!important;
}

#qr-code svg {
    padding: 10px;
    background-color: #ffffff;
}

.preferences-icon {
    margin-left: 0rem!important;
}
